{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb-base", "prettier"],
  "globals": {},
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["eslint-plugin-babel", "prettier"],
  "rules": {
    "no-underscore-dangle": [2, { "allow": ["__"] }],
    "global-require": "off",
    "import/exports-last": "error",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": ["warn"],
    "import/order": [
      "error",
      {
        "newlines-between": "never"
      }
    ],
    "max-len": [
      "error",
      120,
      {
        "ignoreComments": true,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "tabWidth": 4
      }
    ],
    "no-irregular-whitespace": [
      "error",
      {
        "skipComments": false,
        "skipRegExps": false,
        "skipStrings": false,
        "skipTemplates": false
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "classes": true,
        "functions": false,
        "variables": true
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "export"
      },
      {
        "blankLine": "any",
        "prev": "export",
        "next": "export"
      }
    ],
    "prefer-destructuring": "off",
    "prefer-promise-reject-errors": "off",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "singleQuote": true,
        "tabWidth": 4,
        "trailingComma": "es5"
      }
    ]
  }
}
